.letters-wrap {
  width: 900px;
  height: 900px;
  background-color: red;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.random {
  flex-basis: 33% 33%;
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 20px;
  font-size: 14px;
  background-image: url("https://github.com/LetterRabbit/front/blob/feature/editor/public/images/test1.png?raw=true");
  background-repeat: no-repeat;
  background-size: contain;
}
